.sidebar {
    position: fixed;
    background-color: white;
    left: 0;
    top: 55px;
    bottom: 0;
    width: 72px;
    z-index: 2;
    cursor: pointer;
}

.sidebar-boxes {
    height: 76px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-boxes:hover {
    background-color: rgb(235,235,235);
}

.sidebar-logo {
    height: 24px;
    margin-top: 10px;
}

.sidebar-boxes div {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-top: 7px;
}